<%= form_for [ user, registered_application ], remote: true do |f| %>

   
   <div class="row">
            <div class="field">
            <%= f.label :name %> :
            <%= f.text_field :name, class: 'form-control', placeholder: "Add name of application to register" %>
            </div>
            </br>
            <%= f.label :url %> :
        <div class="input-group">
            <%= f.text_field :url, class: "form-control", placeholder: "Add url of application  **include (https://)" %>
        <span class="input-group-btn">
            <%= f.submit "Add", class: 'btn btn-success' %>
        </span>
        </div>
<% end %> 

</div>