<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="row navrow">
                        
                        <% if user_signed_in? %>
                        <div class="col-md-3">
                              <div class="navbar-header">
                              
                                          <h2>Edit Profile</h2>
                                          
                        </div>
                        <div class="col-md-6">
                            <ul class="nav-tabs nav-justified">
                                <li><%= link_to "To-do List", welcome_index_path %></li>
                                <li><%= link_to "About", welcome_about_path %></li>
                            </ul>
                        </div>
                        <div class="col-md-3 nav">
                            <div class="pull-right" >
                                    Signed in as: <strong><%= current_user.username %></strong> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                            </div>
                        </div>
                        
                        <% else %>
                        <div class="col-md-6 col-md-offset-3">
                            <ul class="nav-tabs nav-justified">
                                <li><%= link_to "Blocitoff", welcome_index_path %></li>
                                <li><%= link_to "About", welcome_about_path %></li>
                            </ul>
                        </div>
                        <div class="col-md-3 nav">
                            <div class="pull-right ">
                                <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-default"><%= link_to "Sign In", new_user_session_path %></button>
                                    <button type="button" class="btn btn-default"><%= link_to "Sign Up", new_user_registration_path %></button>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    
                    </div>
                </div>
            </nav>
        </div>
    </div>
    
    <div class="flash">
       <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash.now[:alert] %>
         <div class="alert alert-danger">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash.now[:alert] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>
    </div>
   
    <%= yield %>
    
</div>
</body>
</html>